
<h1 class="titre-page">
    Le catalogue des jeux
</h1>

<button class="button"><i class="fa fa-plus"></i>  Ajouter un jeu</button>

<div class="wrapper">
    <div class="sidebar">
        <a class="categorie" routerLink="">Les jeux les plus joués</a>
        <a class="categorie" *ngFor="let categorieJeu of categoriesJeu" [routerLink]="['/jeux/categorie/',categorieJeu.idCategorieJeu]">{{categorieJeu.libelle}}</a>
    </div>
    <!--href="jeux/categorie/{{categorieJeu.idCategorieJeu}}" -->
    
    <div class="band">
        <a href="" class="card" *ngFor="let jeu of jeux" [routerLink]="['/jeux/',jeu.idJeu]">
            <article>
                <!-- <img class="thumb" src="../../assets/img/{{jeu.imageJeu}}"> -->
                <img class="thumb" src="http://localhost:8181/{{jeu.imageJeu}}">
                <h1 class="titre">{{jeu.libelle}}</h1>
                <span>{{jeu.joueur.pseudo}}</span>
            </article>
        </a>
    </div>
</div>
