#searchInput {
    display: block;
    max-width: 300px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 150px;
    border: none;
    margin-right: 16px;
    margin-left: 60px;
    font-size: 17px;
}

.navResults li {
    color: white;
}

@media screen and (max-width: 900px) {
    #searchInput {
        display: none;
    }
}
    