

    <!-- Header -->
    <header class="premiereSection">
        <div class="container">
            <div class="introPremiereSection">
                <div class="phraseAccroche">Créez. Jouez. Partagez.</div>
                <a class="btnPremiereSection" href="#">POSTEZ VOTRE PREMIER JEU</a>
            </div>
        </div>
    </header>

    <!-- Services -->
    <section id="concept">
        <div class="container">
            <div class="row">
                <div class="titreNotreConcept text-center">
                    <h2 class="titreSection text-uppercase">Notre concept</h2>
                    <h3 class="sousTitreSection text-muted">Que faisons-nous?</h3>
                </div>
            </div>
            <div class="conceptSite text-center">
                <div class="conceptJeux">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
                    <h4 class="titreConcept">Jeux vidéos</h4>
                    <p class="text-muted">Jeunes développeurs, postez votre jeu vidéo et recueillez des avis, des conseils pour vous améliorer !</p>
                </div>
                <div class="conceptBoutique">
                    <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
                    <h4 class="titreConcept">Boutique</h4>
                    <p class="text-muted">Achetez des e-books pour apprendre à faire des jeux vidéos ou achetez tout simplement des goodies pour soutenir vos développeurs préférés!</p>
                </div>

                <div class="conceptForum">
                    <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
            </span>
                    <h4 class="titreConcept">Forum</h4>
                    <p class="text-muted">Vous êtes bloqués dans le développement de votre jeu-vidéo? Vous voulez tout simplement partager vos connaissances? Retrouvez tout pleins de tips sur le forum!</p>
                </div>
            </div>
        </div>
    </section>

